@font-face {
    font-family: 'Profitquery';
    src: url('http://litelib.profitquery.com/api/fonts/profitquery.ttf') format('truetype'),
		url('http://litelib.profitquery.com/api/fonts/profitquery.woff') format('woff'),
		url('http://litelib.profitquery.com/api/fonts/profitquery.svg#Profitquery') format('svg');
	font-weight: normal;
	font-style: normal;}
body {position: relative; margin: 0;}
#profitquery { font-size: 0; position: absolute; overflow: hidden; right: 0; left: -20px; box-sizing: border-box; bottom: 0px;  top: 2px; z-index: 1; background-color: white; height: 750px; height: 95vh;}
#profitquery>div {display: inline-block; /*height: 100vh;*/ vertical-align: top; font-family: arial;}
#profitquery .pq1 {width: 100%; height: 5%; background: rgb(123, 123, 123); min-height: 35px; z-index: 2; position: absolute;}
#profitquery .pq2 {width: 22%; background: #f6f6df; font-size: 14px; overflow-y: auto;  width: 100%; position: absolute; left: 0;  top: 6%; height: 94%;}
#profitquery .pq2 img.pq_card, #profitquery .pq2 .choise img  {display: block; margin: 4px auto;}
#profitquery .pq2 img.pq_card+p { margin: 0;  font-size: 15px;}
#profitquery .pq3 {width: 80%; background: white; /*display: none; */position: absolute;  right: 0;    top: 6%;  bottom: 0;}

#profitquery .pq_clear {clear: both;}
#profitquery .pq2 h2, h3 {font-family: pt sans narrow; font-weight: normal; text-align: center; text-transform: uppercase; color: rgb(68, 67, 67);}
#profitquery .pq2 h2 {font-size: 18px; color: rgb(123, 123, 123);  margin: 10px 0;}
#profitquery .pq2 h3 {margin: 25px 0 10px; font-size: 14px;}
#profitquery .pq2 form {  margin: 0;}
#profitquery .pq1 label, #profitquery .pq2 form label {display: block; text-align: center; position: relative; cursor: pointer; overflow: hidden;  margin: 0px 0 10px;  box-sizing: border-box;}
#profitquery .pq2 label a {float: right; text-decoration: none;}
#profitquery .pq2 form label {margin: 0 0 10px;}
#profitquery .pq2 .pq_li3 .pq_li_button {margin: 0px;}
#profitquery .pq2 form .pq_li1  label {margin: 0 0 5px;}
#profitquery .pq2 form .choise, #profitquery .pq3 .choise  {width: 5%; display: inline-block; margin: 0; height: 40px;  background-color: white;}
#profitquery .pq3 .choise  img{ padding: 4px 4px 0;}
#profitquery .pq2 .pq_li1 label:hover div, #profitquery .pq2 .pq_li2 label:hover div{border: 2px solid #d5d5b3;}
#profitquery .pq2 .pq_li2 label {display: none;}
#profitquery .pq2 .pq_li2 label.selected {display: block;}
#profitquery  label input[type="radio"], #profitquery .pq_li1 label input[type="checkbox"] {position: absolute; top: -9999px;  left: -9999px;}

#profitquery .pq2 form label div {background: white; box-sizing: border-box; border: 2px solid transparent; height: 80px;}
#profitquery .pq2 .pq_li1 label div {padding: 4px 0 0;}
#profitquery .pq2 .pq_li2 label div {padding: 10px 0 0;}
#profitquery .pq2 form label input[type=radio]:checked ~ div {border: 2px solid #d5d5b3;}
#profitquery .pq2 form p {display: inline-block; margin: 7px; color: rgb(102, 102, 102);}
#profitquery .pq2 form input[type="text"], #profitquery .pq2 form select, #profitquery .pq2 form textarea {width: 100%; font-size: 14px; font-family: arial; padding: 0 3px 0 7px; line-height: 28px; margin: 0; color: darkgrey; border: 1px solid darkgrey; border-radius: 2px;}
#profitquery .pq2 form input[type="text"], #profitquery .pq2 form select {height: 28px;}
#profitquery .pq2 form .sm select, #profitquery .pq2 form .sm input[type="text"] {width: 84%; float: right;}
#profitquery .pq2 form .sm:before, #profitquery .pq_checkbox:before {font-family:'Profitquery'; display: inline-block; float: left; line-height: 26px; font-size: 22px; width: 26px; color: white; margin: 1px; /*background: darkgrey;*/}
#profitquery .pq2 form .follow .sm:before {background: darkgrey;  position: absolute;  bottom: 0;  left: 0;}
#profitquery .pq2 form .fb:before {content: "\e600";}			#profitquery .pq2 form .tw:before {content: "\e601";}	
#profitquery .pq2 form .gp:before {content: "\e602";}			#profitquery .pq2 form .li:before {content: "\e603";}	
#profitquery .pq2 form .tr:before {content: "\e604";}			#profitquery .pq2 form .pi:before {content: "\e605";}	
#profitquery .pq2 form .yt:before {content: "\e606";}			#profitquery .pq2 form .ig:before {content: "\e607";}	
#profitquery .pq2 form .vk:before {content: "\e608";}			#profitquery .pq2 form .vke:before {content: "\e609";}
#profitquery .pq2 form .od:before {content: "\e60a";}			#profitquery .pq2 form .mw:before {content: "\e60b";}
#profitquery .pq2 form .lj:before {content: "\e60c";}			#profitquery .pq2 form .gl:before {content: "\e60d";}	
#profitquery .pq2 form .dl:before {content: "\e60e";}			#profitquery .pq2 form .en:before {content: "\e60f";}	
#profitquery .pq2 form .dg:before {content: "\e610";}			#profitquery .pq2 form .su:before {content: "\e611";}
#profitquery .pq2 form .br:before {content: "\e612";}			#profitquery .pq2 form .bu:before {content: "\e613";}	
#profitquery .pq2 form .yh:before {content: "\e614";}			#profitquery .pq2 form .ms:before {content: "\e615";}	
#profitquery .pq2 form .ao:before {content: "\e616";}			#profitquery .pq2 form .am:before {content: "\e617";}
#profitquery .pq2 form .pc:before {content: "\e618";}			#profitquery .pq2 form .rd:before {content: "\e619";}	
#profitquery .pq2 form .so:before {content: "\e61a";}			#profitquery .pq2 form .ff:before {content: "\e61c";}	
#profitquery .pq2 form .sk:before {content: "\e61d";}			#profitquery .pq2 form .po:before {content: "\e61e";}
#profitquery .pq2 form .mi:before {content: "\e61f";}			#profitquery .pq2 form .ya:before {content: "\e620";}
#profitquery .pq2 form .em:before {content: "\e621";}			#profitquery .pq2 form .pr:before {content: "\e622";}			
#profitquery .pq2 form .more:before {content: "\e623";}		#profitquery .pq2 form .wu:before {content: "\e626";}	
#profitquery .pq2 form .rr:before {content: "\e624";}			#profitquery .pq2 form .wb:before {content: "\e625";}	
#profitquery .pq2 form .rs:before {content: "\e627";}
#profitquery .pq2 form .n01:before {content: "01";}
#profitquery .pq2 form .n02:before {content: "02";}
#profitquery .pq2 form .n03:before {content: "03";}
#profitquery .pq2 form .n04:before {content: "04";}
#profitquery .pq2 form .n05:before {content: "05";}
#profitquery .pq2 form .n06:before {content: "06";}
#profitquery .pq2 form .n07:before {content: "07";}
#profitquery .pq2 form .n08:before {content: "08";}
#profitquery .pq2 form .n09:before {content: "09";}
#profitquery .pq2 form .n10:before {content: "10";}
#profitquery .pq2 form .n11:before {content: "11";}
#profitquery .pq2 form .n12:before {content: "12";}
#profitquery .pq2 form .n13:before {content: "13";}
#profitquery .pq2 form .n14:before {content: "14";}
#profitquery .pq2 form .n15:before {content: "15";}
#profitquery .pq2 form .n16:before {content: "16";}
#profitquery .pq2 form .n17:before {content: "17";}
#profitquery .pq2 form .n18:before {content: "18";}
#profitquery .pq2 form .n19:before {content: "19";}
#profitquery .pq2 form .n20:before {content: "20";}
#profitquery .pq2 form .question {border: 2px solid darkgrey; border-radius: 50%; box-sizing: border-box; line-height: 22px!important; color: darkgrey; float: left; width: 26px;}
#profitquery .pq2 form .nn:before {background: none; color: darkgrey; font-size: 15px; line-height: 24px; font-family: arial; font-weight: lighter;}
#profitquery *::-webkit-input-placeholder {color: darkgrey;}
#profitquery .pq1 ul {margin: 0; padding: 0; overflow: hidden;}
#profitquery .pq1 li {height: 40px; margin: 5px 0; opacity: .9;}
#profitquery .pq1 li:hover{opacity: 1;}
#profitquery .pq1 li.selected{opacity: 1; background: #B4B4B4;}
#profitquery .pq1 li img {height: 100%; width: auto; padding: 0 5px;}
#profitquery .pq1 li span {color: #707070; line-height: 40px; font-size: 0px; vertical-align: top; text-transform: uppercase; -webkit-transition: font-size 1s ease;}

#profitquery .pq2 form .f_wrapper {display: none; /*height: 90vh;*/ overflow-y: scroll; width: 20%; vertical-align: top;   box-sizing: border-box;  position: relative; padding: 0 15px;   position: absolute; padding: 0 15px; top: 40px; bottom: 70px;}
#profitquery .pq2 form .selected {display: inline-block;}
#profitquery .pq2 .pq_li1, #profitquery .pq2 .pq_li2, #profitquery .pq2 .pq_li3 {width: 75%; /*margin: 30px auto;*/}
#profitquery .pq2 .pq_li3, #profitquery .pq2 .pq_li4 {width: 90%; /*padding: 0 15px;*/}
#profitquery .pq2 .pq_li3 p, #profitquery .pq2 .pq_li5 p {margin: 0 0 3px; float: left;}
#profitquery .pq_li_button {background: transparent; width: 100%; text-transform: uppercase; border: 1px solid grey; line-height: 21px;  border-radius: 2px;}
#profitquery .pq_li_button:hover {background: grey; color: white; cursor: pointer;}
#profitquery a.minus {position: absolute; right: 0; top: 0; width: 10px; height: 10px; background: red; border-radius: 50%; color: white;
  line-height: 10px; padding: 1px; font-size: 8px;}
#profitquery input.min ~.minus {position: absolute; right: 5px; top: 5px; width: 10px; height: 10px; background: rgb(223, 223, 223); border-radius: 0; color: white; line-height: 7px; padding: 4px; font-size: 10px;}
#profitquery a.plus {font-size: 25px; font-family: pt sans-serif; color: rgb(0, 150, 77); border: 1px solid; border-radius: 50%; width: 28px;
   display: block; margin: 7px auto;}
#profitquery a.text {position: absolute; top: 0; right: 0; color: rgb(0, 104, 190);}
#profitquery .picture {width: 100%; height: auto; max-height: 75px;}
#profitquery .picture+div {position: absolute; bottom: 17px; background: none!important; display: block!important; width: 100%;  height: auto!important;}
#profitquery .picture+div p, #profitquery .picture+div label, #profitquery .picture+div label input {display: inline-block; float: none!important; margin: 0;}
#profitquery .picture+div p{ vertical-align: top; margin: 5px!important;} 
#profitquery .picture+div label{width: 130px;} #profitquery .picture+div label input {width: 100px!important;}
#profitquery .pq_button_group {position: absolute; bottom: 0; box-sizing: border-box; WIDTH: 20%; left: 0;  padding: 0 30px 0 15px;  font-size: 0; display: none;   background-color: rgb(246, 246, 223);}
#profitquery .pq_button_group input[type="button"]{margin: 0 0 3px; width: 49%; text-transform: uppercase;  background: #48e88f; border: none; color: white; font-family: pt sans narrow; font-size: 16px;  cursor: pointer;}
#profitquery .pq_button_group input[type="button"]:hover {background-color: rgb(18, 192, 95);}
#profitquery .pq_button_group input[type="button"]:first-child {margin-right:2%;}
#profitquery .button_group_li5 input[type="button"] {background: transparent; border: 2px solid #48e88f; color: #00CD5B;}
#profitquery .button_group_li5 input[type="button"]:hover {background: #48E88F; color: white;}
#profitquery .pq_button_group input[type="submit"] {margin: 0 0 7px; width: 100%; text-transform: uppercase; background: transparent; color: #00CD5B; font-family: pt sans narrow; font-size: 16px; border: 2px solid #48e88f; display: none; cursor: pointer;}
#profitquery .pq_button_group input[type="submit"]:hover {background-color: rgb(18, 192, 95); color: white; border: 2px solid rgb(18, 192, 95);}
#profitquery .button_group_li5 input[type="submit"] {background: #48e88f; color: white;}
#profitquery .button_group_li5 input[type="submit"]:hover {background-color: rgb(18, 192, 95);  border: 2px solid rgb(18, 192, 95);}
#profitquery .pq_button_group input[type="submit"].selected {display:block;}
#profitquery .pq2 .settings, #profitquery .pq2 .settings div, #profitquery .pq2 .settings .custom_i, #profitquery .pq2 .settings .subscribe_in {display:none;}
#profitquery .pq2 .settings.selected, #profitquery .pq2 .settings div.selected, #profitquery .pq2 .settings .custom.selected {display:block;}
#profitquery .pq2 form .input1, #profitquery .pq2 form .input2, #profitquery .pq2 form .input3, #profitquery .pq2 .addinput2, #profitquery .pq2 .addinput3, #profitquery .pq2 .addselect2, #profitquery .pq2 .addselect3, #profitquery .pq2 .addtextarea2, #profitquery .pq2 .addtextarea3, #profitquery .pq2 form .textarea1, #profitquery .pq2 form .textarea2, #profitquery .pq2 form .textarea3 {display: none;}
#profitquery .pq2 form .n07, #profitquery .pq2 form .n08, #profitquery .pq2 form .n09, #profitquery .pq2 form .n10,#profitquery .pq2 form .n11 , #profitquery .pq2 form .n12, #profitquery .pq2 form .n13, #profitquery .pq2 form .n14, #profitquery .pq2 form .n15,#profitquery .pq2 form .n16, #profitquery .pq2 form .n17, #profitquery .pq2 form .n18, #profitquery .pq2 form .n19, #profitquery .pq2 form .n20, #profitquery .addservices13-18, #profitquery .addservices19-20 {display:none;}
#profitquery .pq2 form .f04, #profitquery .pq2 form .f05,#profitquery .pq2 form .f06, #profitquery .pq2 form .f07, #profitquery .pq2 form .f08, #profitquery .addservices7-8 {display:none;}

#profitquery .pq1 img {position: absolute; top: 5px; left: 15px;}
#profitquery .pq1 p {color: white; font-size: 18px; width: 20%; text-align: center; text-transform: uppercase; font-family: pt sans narrow; margin: 4px 0 0; display: inline-block; padding: 0px; display:none;}
#profitquery .pq1 p.selected {display:inline-block;}
#profitquery .pq1 p+a {border-left-style: dotted; font-size: 14px; font-family: pt sans narrow; padding-left: 15px; color: white; text-transform: uppercase;  text-decoration: none;}
#profitquery .pq1 a.pq_adds { border: none;  position: absolute;  right: 220px;  top: 25%;}
#profitquery .pq1 p+a:hover {opacity: .7;}
#profitquery .pq1 p+a:before {content: "\e63d";  font-family: profitquery; font-size: 20px; padding: 0 10px; vertical-align: text-top; color: white;}
#profitquery .pq1 a.pq_adds:before {content: " ";}
#profitquery .pq1 p+a:after {content: "\e62e";  font-family: profitquery;font-size: 16px; padding: 0 10px; vertical-align: text-top; color: white;}
/*#profitquery .pq1 .pro {display:none;}*/
#profitquery .pq1 span {position: absolute; top: 7px; right: 10px; width: 100px; height: 22px; display: inline-block; font-size: 18px; line-height: 22px; text-align: center; font-family: pt sans narrow;}
#profitquery .pq1 span.free {background: white; color: black;}
#profitquery .pq1 span.pro {background: #1b80e9; color: white;}
#profitquery .pq1 input.pro {  position: absolute; top: 5px; right: 15px; height: 28px; background: #FF2564; border: 1px solid #FF2564; color: white; text-transform: uppercase; font-family: pt sans narrow; font-size: 18px; width: 200px; line-height: 14px; border-radius: 4px; cursor: pointer;}
#profitquery .pq1 input.pro:hover {background: #D0033E; border: 1px solid #D0033E;}
#profitquery .pq2 form label div input.task {background: transparent;  padding: 5px 0px; font-family: arial; text-transform: uppercase; border-radius: 2px; width: 40%; box-sizing: border-box; margin-top: 19px; display: none;  cursor: pointer;}
#profitquery .pq2 form .pq_li1 label:hover div input.activate {display:inline-block;}
#profitquery .pq2 form .pq_li1 label:hover div p, #profitquery .pq2 form .pq_li1 label:hover div img.pq_card{display:none;}
#profitquery .pq2 form label div input.activate {border: 1px solid #36d57d; color: #36d57d;}
#profitquery .pq2 form label div input.activate:hover {  background-color: #36d57d; color: white;} 
#profitquery .pq2 form label img.active, #profitquery .pq2 form label img.pro {display: none;}
#profitquery .pq2 form label input[type=checkbox]:checked + div img.active  {position: absolute; left: 0; top: 0; display: block;}
#profitquery .pq2 form label.pro img.pro  {position: absolute; left: 0; top: 0; display: block;}
#profitquery .pq2 form label input[type=checkbox]:checked + div {border: 2px solid rgb(72, 232, 143);}
#profitquery .pq2 form label:hover input[type=checkbox]:checked + div input.activate {display:none;}
#profitquery .pq2 form label:hover input[type=checkbox]:checked + div input.settings, #profitquery .pq2 form label:hover input[type=checkbox]:checked + div input.desabled  {display:inline-block;}
#profitquery .pq2 form label div input.settings {border: 1px solid rgb(50, 55, 60); color: rgb(50, 55, 60);}
#profitquery .pq2 form label div input.settings:hover {background: rgb(50, 55, 60); color: white;}
#profitquery .pq2 form label div input.desabled {border: 1px solid red; color: red; margin-left:2%;}
#profitquery .pq2 form label div input.desabled:hover {background:red; color: white;} 
#profitquery .pq2 form label.choise input[type=radio]:checked ~ div {background: rgb(246, 246, 223); border: none;  height: auto!important;  padding: 1px 0;  margin-bottom: 2px;}
#profitquery .pq3 label input[type=radio]:checked ~ div {background:#e6e6c1;  margin-bottom: 2px;}
#profitquery .pq3 .frame {position: absolute; width: 100%; top: 40px; bottom: 1px; right: 1px;   background-repeat: no-repeat; background-image: url('http://api.profitquery.com/lib/img/back.png');  background-size: initial;  background-position: center center;}
#profitquery .pq3 .frame.pq_share {background-image: url('http://api.profitquery.com/lib/img/back_share.png');}
#profitquery a.question {  position: fixed; bottom: 25px; right: 35px; background-color: rgb(35, 40, 45); overflow: hidden; border-radius: 50%;   height: 50px;  width: 50px;}
#profitquery a.question:hover {background-color: rgb(0, 0, 0);}
#profitquery a.question img{margin: 11px;}
#profitquery .pq_popup {position: absolute;  display: block;  background-color: white;  padding: 25px;  box-sizing: border-box; box-shadow: 0 1px 1px 1px lightgrey;border-radius: 3px; text-align: center; display: none; Z-INDEX: 50; color: rgb(123, 123, 123);}
#profitquery .pq_popup.protection {top: 90px; width: 60%; left: 20%;}
#profitquery .pq_popup.hello { top: 7%; width: 100%; left: 0;  bottom: 0;  overflow-y: auto; padding: 15px 30px;}
#profitquery .pq_popup.hello.selected {display: block;}
#profitquery .pq_popup.hello img+p {margin: 4px 0 0;}
#profitquery .pq_popup a{text-decoration: none;}
#profitquery .pq_popup h1{font-size: 28px; font-weight: normal; font-family: pt sans narrow;}
#profitquery .pq_popup .hello p{ margin: 25px 0; font-size: 14px;}
#profitquery .pq_popup input[type="button"], #profitquery .pq_popup input[type="submit"],#profitquery .pq_popup.getpro .pq_pro input[type="button"] {background-color: rgb(72, 232, 143); border: 0; padding: 0px 30px; color: white;  text-transform: uppercase;  font-family: pt sans narrow;  border-radius: 3px;  font-size: 16px;  box-sizing: border-box;  height: 30px;  vertical-align: bottom; min-width: 20%;  cursor: pointer;}
#profitquery .pq_popup input[type="button"]:hover, #profitquery .pq_popup input[type="submit"]:hover ,#profitquery .pq_popup.getpro .pq_pro input[type="button"]:hover {background-color: rgb(18, 192, 95);}
#profitquery .pq_popup input[type="text"] {display: block; margin: 5px auto 20px; height: 30px; width: 80%; text-align: center;}
#profitquery .pq_popup.protection input{background-color: #f74d59;}
#profitquery .pq_popup.protection input:hover{background-color: #C03943;}
#profitquery .pq_popup.protection input+input {color: #f74d59; border: 1px solid #f74d59; background-color: white!important; margin-left: 5px;}
#profitquery .pq_popup .pq_close {  position: absolute;  top: 10px;  right: 10px;  height: 20px;  width: 20px;  font-size: 14px;  font-family: Profitquery;  color: rgb(208, 208, 208);}
#profitquery .pq_popup.protection input+input:hover {background-color: #C03943!important; color: white; border: 1px solid #C03943;}
#profitquery .pq_popup .pq_close:after {content: "\e628";}
#profitquery .pq_popup.emailsettings {width: 30%; top: 4.5%; left: 20%; padding-top: 40px;}
#profitquery .pq_popup.emailsettings select, #profitquery .pq_popup.emailsettings textarea, #profitquery .pq_popup.emailsettings input[type="text"] {width: 100%;}
#profitquery .pq_popup.emailsettings p {font-size: 14px; margin: 14px 0 3px; display: inline-block; float: left;}
#profitquery .pq_popup.emailsettings p + a {font-size: 14px; display: inline-block; float: right; margin: 14px 0 3px; text-decoration: none;}
#profitquery .pq_popup.analytics {width: 25%; bottom: 0; left: 20%; padding-top: 50px;}
#profitquery .pq_popup.analytics label {position: relative; border-bottom: 1px solid lightgray;  border-top: 1px solid lightgray; margin: 10px 10px 0; display: block;}
#profitquery .pq_popup.analytics label+label {margin: -1px 10px 10px;}
#profitquery .pq_popup.analytics p{width: 100%; margin: 5px 0; text-align: left; text-transform: none; font-size: 15px; display: inline-block; padding: 0;}
#profitquery .pq_popup.analytics input[type="radio"]{top: 12px; left: initial; right: 0;}
#profitquery .pq_popup.lang {width: 25%;  top: 4.5%;  right: 220px; }
#profitquery .pq_popup.lang h1 {font-size: 22px; line-height: 1.2;}
#profitquery .pq_popup.lang input[type="submit"] {margin-top: 20px;}
#profitquery .pq_popup.lang label {position: relative; border-bottom: 1px solid lightgray;  border-top: 1px solid lightgray; margin: 10px 10px 0; display: block;}
#profitquery .pq_popup.lang label~label {margin: -1px 10px 0px;}
#profitquery .pq_popup.lang label:nth-last-child {margin-bottom:20px;} 
#profitquery .pq_popup.lang p{width: 100%; margin: 5px 0; text-align: left; text-transform: none; font-size: 15px; display: inline-block; padding: 0;}
#profitquery .pq_popup.lang input[type="radio"]{top: 12px; left: initial; right: 0;}
#profitquery .pq_popup.question {top: 40px; right: 15px; bottom: 3px; width: 25%;}
#profitquery .pq_popup.question label {width: 33%; display: inline-block; margin: 0; height: 40px;}
#profitquery .pq_popup.question label input[type=radio] ~ div {border-bottom: 1px solid black;}
#profitquery .pq_popup.question label input[type=radio]:checked ~ div {border: 1px solid black; border-bottom: none;}
#profitquery .pq_popup.question div p {margin:0; font-family: pt sans narrow; text-transform: uppercase; font-size: 16px;}
#profitquery .pq_popup.question .question1, #profitquery .pq_popup.question .question2, #profitquery .pq_popup.question .question3 {display: none;}
#profitquery .pq_popup.question .selected, #profitquery .pq_popup.protection.selected {display: block;}
#profitquery .pq_popup.question .selected p, #profitquery .pq_popup.question .question_footer p {font-family: arial; text-transform: none; font-size: 14px; margin: 15px 0;}
#profitquery .pq_popup.question .question_footer {position: absolute; bottom: 30px; width: 100%; box-sizing: border-box;  padding: 0 50px 0 0;}
#profitquery .pq_popup.question .question_footer h1{text-transform: uppercase;}
#profitquery .pq_popup.question .question_footer img {border-radius: 50%;  height: 120px; width: auto;}
#profitquery .pq2 form .pq_error {border: 1px solid red;}
#profitquery .ganalytics {position: absolute; bottom: 8px; left: 0; width: 20%; text-align: center; font-family: pt sans narrow; font-size: 15px; text-decoration: none; text-transform: uppercase; color: rgb(68, 68, 68); padding-right: 15px;  box-sizing: border-box;}
#profitquery .ganalytics:hover {color: rgb(0, 0, 0);} 
#profitquery .ganalytics  img {display: block;  margin: 0 auto 10px;}
#profitquery .pq_li3 .imagesharer input[type=checkbox] {position: absolute; bottom: 0; left: 16px; height: 12px; width: 12px;  min-width: 0; border: 1px solid rgb(255, 37, 100);}
#profitquery .pq_li3 .imagesharer input[type=checkbox]:checked {border: 1px solid transparent;}
#profitquery .pq_li3 .imagesharer input[type=checkbox]:checked:before {margin: -6px 0 0 -6px;}
#profitquery .pq2 form label .pq_checkbox {  display: inline-block; background-color: lightgrey; float: left; height: 27px; width: 27px;  border: none!important;}
/*#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.fb {background-color: pink;}*/
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.fb {background-color: #3a579a;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.tw {background-color: #00abf0;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.gp {background-color: #df4a32;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.li {background-color: #127bb6;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.tr {background-color: #32506d;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.pi {background-color: #cd1c1f;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.yt {background-color: #f80000;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.ig {background-color: #2e5e86;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.vk {background-color: #4c75a3;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.vke {background-color: #4c75a3;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.od {background-color: #f77c00;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.mw {background-color: #3d6cb0;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.lj {background-color: #336697;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.gl {background-color: #dd4b39;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.dl {background-color: #3398fc;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.en {background-color: #7cbf4b;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.dg {background-color: #546b9f;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.su {background-color: #ea4b24;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.br {background-color: #f59038;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.bu {background-color: #222222;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.yh {background-color: #511295;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.ms {background-color: #3a5998;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.ao {background-color: #222222;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.am {background-color: #222222;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.pc {background-color: #797979;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.rd {background-color: #fc461e;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.so {background-color: #ff5419;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.ff {background-color: #5989c0;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.sk {background-color: #00b8ed;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.po {background-color: #ef3e56;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.mi {background-color: #01a4ef;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.ya {background-color: #ff0000;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.em {background-color: #797979;} 		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.pr {background-color: #75aa33;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.more {background-color: #dedede;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.wu {background-color: #3ebe2b;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.rr {background-color: #1b5f9d;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.wb {background-color: #d72928;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.rs {background-color: #ff6600;}		#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.ak {background-color: #fcac19;}
#profitquery .pq2 .pq_li3 .imagesharer label [type=checkbox]:checked + div.fl {background-color: #b01f1e;}

#profitquery .pq_result {background-color: rgb(236, 236, 236); padding: 15px;}
#profitquery .pq_result a {font-size: 15px; display: block; text-decoration: none;}
#profitquery .pq_popup.getpro {width: 50%; right: 15px; top: 4.5%;  left: initial; padding: 25px 1px;  max-height: 94%; overflow-y: auto; bottom: inherit;  bottom: initial;}
#profitquery .pq_popup.getpro h1 {text-transform: uppercase; font-size: 15px; margin: 25px 0 5px;}
#profitquery .pq_popup.getpro input[type="text"] {margin: 5px auto; width: 90%; color: rgb(195, 195, 195);}
#profitquery .pq_popup.getpro p{margin: 0 auto;  font-size: 15px;  max-width: 90%;}
#profitquery .pq_popup.getpro input[type="button"], #profitquery .pq_popup.getpro input[type="submit"] {border: 2px solid rgb(72, 232, 143); color: rgb(72, 232, 143);  background-color: transparent; min-width: 35%;}
#profitquery .pq_popup.getpro input[type="button"]:hover, #profitquery .pq_popup.getpro input[type="submit"]:hover {background-color: rgb(72, 232, 143); color: white;}
#profitquery .pq_popup.getpro input.pq_order {margin: 10px 0; background-color: rgb(72, 232, 143); color: white;}
#profitquery .pq_popup.getpro input.pq_order:hover {  background-color: rgb(14, 166, 81);  border: 2px solid rgb(14, 166, 81);}
#profitquery .pq_popup.getpro a {font-size: 15px; /*color: black; */display: block; cursor: pointer;}
#profitquery .pq_popup.getpro p>a {font-size: inherit; margin: 0; display: inline-block; /*color: blue; */text-decoration: none;}
#profitquery .pq_popup.getpro input[type="text"].filename {width: 69%; display: inline-block; vertical-align: top; margin-right: 1%; text-align: left;}
#profitquery .pq_popup.getpro input[type="text"].filename + input {display: inline-block; margin: 5px 0; vertical-align: top;   border: 1px solid rgb(123, 123, 123);  color: rgb(123, 123, 123); min-width: 0;  width: 20%;}
#profitquery .pq_popup.getpro input[type="text"].filename + input:hover {background-color: rgb(123, 123, 123); color: white;}
#profitquery .pq_popup.getpro input.filename_hidden {display:none!important;}
#profitquery .pq_popup.getpro .pq_pro {background-color: rgb(246, 246, 223); padding: 10px 0;}
#profitquery .pq_popup.getpro .pq_pro input[type="text"] {color: rgb(123, 123, 123);}
#profitquery .pq_popup.getpro .pq_pro h1 {color: rgb(255, 37, 100); font-size: 20px;  margin: 10px 0;}
#profitquery .pq_popup.getpro .pq_pro table {width: 90%; margin: 10px auto;}
#profitquery .pq_popup.getpro .pq_pro table  td{position: relative; border-bottom: 1px solid lightgrey;}
#profitquery .pq_popup.getpro .pq_pro table  td:nth-child(odd) {width: 47%; text-align: left; padding: 5px 10px;}
/*#profitquery .pq_popup.getpro .pq_pro table  tr:nth-child(odd) td:nth-child(odd) {background-color: white;}*/
#profitquery .pq_popup.getpro .pq_pro table p {display: inline-block; margin: 0 0 0 7px;  vertical-align: middle;}
#profitquery .pq_popup.getpro .pq_pro table p:after {    content: "\e62b";
  font-size: 13px;
  font-family: profitquery;
  position: absolute;
    right: 10px;
  top: 10px;
  color: rgb(16, 194, 95);}
#profitquery .pq1 p.pq_tooltip1, #profitquery .pq1 p.pq_tooltip2  {display: none;  font-size: 15px;  text-align: left;  text-transform: none; background-color: rgb(97, 97, 97);  width: auto;  padding: 0 15px; color: silver;}
#profitquery .pq1 p.pq_tooltip1.selected, #profitquery .pq1 p.pq_tooltip2.selected   {display: inline-block;}
#profitquery .pq3  .pq_like_dash {position: absolute;  top: 6px;  right: 15px;}
#profitquery .pq3  .pq_like_dash>a, #profitquery .pq3  .pq_like_dash>p {display: inline-block; }
#profitquery .pq3  .pq_like_dash>a{border: 1px solid rgb(118, 118, 118);  border-radius: 2px;  width: 25px;  height: 25px;  margin-left: 5px;  vertical-align: bottom;}
#profitquery .pq3  .pq_like_dash>a>img {vertical-align: bottom;}
#profitquery .pq3  .pq_like_dash>a:hover {background-color: rgb(35, 40, 45);}
#profitquery .pq3  .pq_like_dash>p {  margin: 0 10px 0 0; font-size: 15px; color: rgb(179, 179, 179);}
#profitquery .pq2 h2.pro_h1 {color: rgb(255, 37, 100);}
#profitquery .pq2 a.pq_question  {display: inline-block;  height: 15px;  width: 15px;  text-align: center;  border-radius: 50%;  text-decoration: none;  border: 1px solid rgb(123, 123, 123); color: rgb(123, 123, 123); font-size: 13px;  line-height: 15px;  float: left;  margin: 4px 0 0 4px;}
#profitquery .pq2 h3 + label>p {margin-top: -4px!important;}
#profitquery .pq3 iframe {border-color: rgb(224, 223, 223); border-width: 38px 2px 2px;  box-sizing: border-box;  border-style: solid;  border-radius: 3px; width: 100%;}
#profitquery .pq3 h2 { position: absolute; top: 0; width: 100%; text-align: center; right: 0; font-family: pt sans narrow; font-weight: normal; font-size: 18px;  color: rgb(123, 123, 123);  margin: 10px 0; text-transform: uppercase;}

@media only screen and (max-width: 1400px){
#profitquery .pq3 iframe.pq_bar {transform: scale(0.8);  transform-origin: 0 0;  width: 125%;  height: 125%;  border-width: 47px 3px 3px;}}

@media only screen and (max-width: 1150px){
#profitquery .pq3 iframe.pq_bar {transform: scale(0.66667);  transform-origin: 0 0;  width: 150%;  height: 150%;  border-width: 57px 3px 3px;  border-radius: 4px;}
#profitquery .pq3 .frame {background-size: contain;}}
  
@media only screen and (max-height: 720px){#profitquery {height: 94vh;}}
@media only screen and (max-height: 600px){#profitquery {height: 93vh;}}

@media only screen and (max-width: 850px){#profitquery .pq3 iframe {display: none;}}
.rtl #profitquery { left: 0; right: -20px;}
.rtl #profitquery .pq3 {right: initial; left: 0;}
.rtl #profitquery .ganalytics {left: initial; right: 0; padding: 0 0 0 15px;}
.rtl #profitquery .pq1 a.pq_adds {right: initial; left: 220px;}
.rtl #profitquery .pq1 input.pro { right: initial; left:15px;}
.rtl #profitquery .pq1 img { left: initial; right: 15px;}
.rtl #profitquery .pq1 p+a {  border-right-style: dotted; border-left-style: initial;}
.rtl #profitquery .pq3 .pq_like_dash {right: initial;  left: 15px;}
.rtl #profitquery .pq_popup.lang { right: initial; left :220px;}
.rtl #profitquery .pq_popup.emailsettings { left: initial; right: 20%;}
.rtl #profitquery .pq_popup.analytics { left: initial; right: 20%;}
.rtl #profitquery .pq_button_group {left: initial; right: 0; padding: 0 15px 0 30px;}
.rtl #profitquery a.question {right: initial; left: 35px;}
.rtl #profitquery .pq_popup.question { right: initial; left:15px;}
.rtl #profitquery .pq_popup.question .question_footer {padding: 0 0 0 50px;}
.rtl #profitquery .pq_popup .pq_close {right: initial; left:10px;}
.rtl #profitquery .pq2 h2, h3 {  font-family: pt sans narrow!important;  font-weight: normal!important;  text-align: center;  text-transform: uppercase;  color: rgb(68, 67, 67);}
.rtl #profitquery .pq3 iframe.pq_bar { transform-origin: 100% 0;}
.rtl #profitquery .pq2 form .choise {  display: none;}
